# binary representation

In [2]:
a=14
format(14, '#b'), format(a, 'b')

('0b1110', '1110')

In [11]:
print ("the binary representatio  of 2 {}".format(2, '#b'))

the binary representatio  of 2 2

In [19]:
for i in range(10):
    print(format(i,'b'))

0
1
10
11
100
101
110
111
1000
1001

In [18]:
for i in range(-10,-2):
    print(format(i,'b'))

-1010
-1001
-1000
-111
-110
-101
-100
-11

# hex and octal

In [82]:
print(hex(255))
print(format(255, '#x'), format(255, 'x'), format(255, 'X'))

0xff
0xff ff FF

In [83]:
print(oct(123))
print(format(10, '#o'), format(10, 'o'))

0o173
0o12 12

# chr and bool

In [31]:
print("None",bool(None))
print("1",bool(1))
print("-123",bool(-123))
print("python",bool("python"))
print("0",bool(0))
print("[True,False]",bool([True,False]))
print("False",bool(False))

None False
1 True
-123 True
python True
0 False
[True,False] True
False False

In [33]:
# chr(asciii value)
#range from 0 to 1,114,111 (0x10FFFF in base 16)
print(chr(123))
print(chr(ord('a')))

{
a

# Complex numbers

In [44]:
#complex(real_number,imaginary_number)
print(complex(18))
print(complex(18,1))
print(complex(0,18))
print('-'*60)
print('2+1i')
print('2 + 1j')

(18+0j)
(18+1j)
18j
------------------------------------------------------------
2+1i
2 + 1j

In [47]:
print(divmod(5,2))

seasons = ['Spring', 'Summer', 'Fall', 'Winter']
print(list(enumerate(seasons)))

print(list(enumerate(seasons, start=1)))

(2, 1)
[(0, 'Spring'), (1, 'Summer'), (2, 'Fall'), (3, 'Winter')]
[(1, 'Spring'), (2, 'Summer'), (3, 'Fall'), (4, 'Winter')]

# string evluation

In [48]:
x=12
eval('x+2')

14

# numberic function int float complex

In [53]:
print(float('+1.23'))

print(float('   -12345\n'))

print(float('1e-003'))

print(float('+1E6'))

print(float('-Infinity'))

1.23
-12345.0
0.001
1000000.0
-inf

# format important in python

In [80]:
width = 5
for num in range(5,12): 
    for base in 'dXob':
        print('{0:{width}{base}}'.format(num, base=base, width=width), end=' ')
    print()

    5     5     5   101
    6     6     6   110
    7     7     7   111
    8     8    10  1000
    9     9    11  1001
   10     A    12  1010
   11     B    13  1011

In [76]:
print('{2}, {1}, {0}'.format(*'abc')  ) #unbacking arguments
coord = {'latitude': '37.24N', 'longitude': '-115.81W'}
print('Coordinates: {latitude}, {longitude}'.format(**coord))

coord = (3, 5)
print('X: {0[0]};  Y: {0[1]}'.format(coord))

c, b, a
Coordinates: 37.24N, -115.81W
X: 3;  Y: 5

In [79]:
def o(n):
    return ord(str(n))
a,b,c=map(o,[1,2,3])
print(a,b,c)

49 50 51

# Next and iter

In [89]:
def iterator(list_iter):
    
    print(next(list_iter))
list_iter = iter([1,2,3,4])    
iterator(list_iter)
iterator(list_iter)
iterator(list_iter)
iterator(list_iter)

1
2
3
4

In [93]:
#pow(base,exp,mod) =====> (38**2) % 97
pow(38, 2, 97)

86

# Slice

In [94]:
# Program to get a substring from the given string 

py_string = 'Python'

# stop = 3
# contains 0, 1 and 2 indices
slice_object = slice(3) 
print(py_string[slice_object])  # Pyt

# start = 1, stop = 6, step = 2
# contains 1, 3 and 5 indices
slice_object = slice(1, 6, 2)
print(py_string[slice_object])   # yhn

Pyt
yhn

# map,filter,reduce    lambda

In [97]:
# lambda imput : expresion
#must have one expression and one output and can have multiple input
y=lambda x,y : x+y
y(1,2)

3

In [104]:
# map - iter over the list to the function
# map(function , iterator)

def star_with_A(a):
    return a[0] == 'A'
map_object = map(star_with_A,["Apple","Ban","App","ahi"])
print(list(map_object))

# another way
print("Another way")
print(list(map(lambda x : x[0] == "A" , ["Apple","Ban","App","ahi"])))

[True, False, True, False]
Another way
[True, False, True, False]

In [105]:
# filter =====> return the iterator items which statisfis the function

def star_with_A(a):
    return a[0] == 'A'
map_object = filter(star_with_A,["Apple","Ban","App","ahi"])
print(list(map_object))

# another way
print("Another way")
print(list(filter(lambda x : x[0] == "A" , ["Apple","Ban","App","ahi"])))

['Apple', 'App']
Another way
['Apple', 'App']

In [106]:
# reduce ======> reduce the given list to one answer
from functools import reduce

def add(x, y):
    return x + y

list = [2, 4, 7, 3]
print(reduce(add, list))

16

#   *arge **kwargs

In [98]:
# *args(non keyword arguments)
# **kwargs (keyword arguments)
def adder(*num):
    sum = 0
    
    for n in num:
        sum = sum + n

    print("Sum:",sum)

adder(3,5)
adder(4,5,6,7)
adder(1,2,3,5,6)

Sum: 8
Sum: 22
Sum: 17

In [99]:
def intro(**data):
    print("\nData type of argument:",type(data))

    for key, value in data.items():
        print("{} is {}".format(key,value))

intro(Firstname="Sita", Lastname="Sharma", Age=22, Phone=1234567890)
intro(Firstname="John", Lastname="Wood", Email="johnwood@nomail.com", Country="Wakanda", Age=25, Phone=9876543210)

Data type of argument: <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890

Data type of argument: <class 'dict'>
Firstname is John
Lastname is Wood
Email is johnwood@nomail.com
Country is Wakanda
Age is 25
Phone is 9876543210

# yield

In [114]:
def useof_yield(l):
    for i in l:
        yield i*i
        
obj = useof_yield([1,2,3,4])
ob = useof_yield([1,2,3,4])
for o in obj:
    print(o,end= ' ')
print()
print([x for x in ob])

1 4 9 16
[1, 4, 9, 16]